/* Centro reloj */
.clock-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hora */
#clock {
  font-size: 20vw;
  font-weight: bold;
  color: #eb7628;
  letter-spacing: 2px;

  font-variant-numeric: tabular-nums;

  /* evita que se rompa en pantallas pequeñas */
  white-space: nowrap;
}