/* =========================
   CENTRO RELOJ
========================= */
.clock-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================
   RELOJ
========================= */
#clock {
  font-size: 20vw;
  font-weight: bold;
  color: #eb7628;
  letter-spacing: 2px;

  font-variant-numeric: tabular-nums;

  white-space: nowrap;
}