body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor botones */
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
}

/* Botones */
button {
  width: 100%;
  padding: 30px;
  font-size: 24px;

  border: 2px solid #eb7628;
  border-radius: 10px;

  background: black;
  color: #eb7628;
  font-weight: bold;

  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #eb7628;
  color: black;
}

.bottom-image:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* Responsive */
@media (max-width: 600px) {
  .bottom-image {
    width: 80px;
  }
}